extends layout

block content
  .error-container
    h1.error-msg 404 - Page Not Found
    p.error-para The page you requested (#{url}) could not be found.
    a.btn.btn-primary(href='/') Return to Home