extends layout

block content
    .bg-container
      .text-container
        h1.top-heading
          | WELCOME TO 
          br
          span.text-style EMIFY
        p.top-para
          | The emotion-based music recommendation system that matches
          br
          | your mood with the perfect soundtrack
        a.top-button(href='/login') Get Started