doctype html
html
  head
    title EMIFY
    link(rel="stylesheet", href="/navbar.css")
  body
    nav
      .logo EMIFY
      ul.nav-links
        li
          a(href="/") Home
        li
          a(href="/about") About
        li
          a(href="/contact") Contact
        li
          a(href="/login") Login
        li
          a.register(href="/register") Register
